---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- google font 1-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<!-- google font 2 -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	/* reset */
	html {
		font-family: Menlo, Monaco, Lucida Console, 'Courier New', Courier, "Bebas Neue";
		background: #fff;
		letter-spacing: -0.025rem;
	}

	body, figure {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	*,+::before, *::after {
		box-sizing: border-box;
	}
	
	h1,h2,h3,h4 {
		font-family: "Bebas Neue", sans-serif;
		margin: 0;
		letter-spacing: 0.1rem;
	}

	p {
		color: #666;
		font-size: 1.2rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
		font-family: "Barlow", sans-serif;
		font-weight: 500;
	}
</style>
